

<div class="container align-center">
    <p>home-page works!</p>

    <div class="row align-center">
      <div class="col">
        <button  class="btn cust-margin" routerLink="/admin" routerLinkActive="active">
          To Admin module
        </button>
      </div>
    </div>
  
    <div class="row align-center">
      <div class="col">
        <button class="btn cust-margin" routerLink="/front" routerLinkActive="active">
          To Front module
        </button>
      </div>
    </div>
  
    <app-tasks-list></app-tasks-list>
  </div>