<div class="top-panel">
  <div class="row ">
    <div class="col col-size-1 align-center">
      <button class="btn-rounded" routerLink="/front" routerLinkActive="active">
        Front
      </button>
    </div>

    <div class="col col-size-6 align-center">
      <h1>{{tasksArr[tasksIndex].title}}</h1>
    </div>

    <div class="col col-size-1 align-center"></div>
  </div>
</div>

<div class="container top-padding">
  <div class="row">
    <select class="form-control" [formControl]="statusForm" (change)="changeStatus()">
      <option value="new">New</option>
      <option value="in-progress">In Progress</option>
      <option value="done">Done</option>
    </select>
  </div>
  <div class="row text-justify">
    <p>{{tasksArr[tasksIndex].description}}</p>
  </div>
</div>